html {cursor: url("C:\Users\cowce\Documents\FSI-Build-a-Portfolio\images\crosshair2.png"), url("C:\Users\cowce\Documents\FSI-Build-a-Portfolio\images\crosshair2.gif"), crosshair;
    text-align: center;
}
body {
    background-color: #4c4741;
    color: #b3ad97;
    font-size: 1.1em;
}
h1 {
    color: #b67135;
    font-size: 70px;
    text-align: center;
}

img {border-radius: 20%;
    box-shadow: 2px 3px 7px 2px rgb(182 113 53 / 68%)}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  a:link, a:visited {
    color: #b67135;
    text-decoration: none;}