body {
    background-color: #4c4741;
    color: #b3ad97;
    font-size: 1.1em;
    cursor: url("images\crosshair.png"), url("images\crosshair.gif"), default;
}
h1 {
    color: #b67135;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
 