body {
    background-color: #4c4741;
    color: #b3ad97;
    font-size: 1.1em;
    cursor: url('images\crosshair2.png'), url('images\crosshair2.gif'), crosshair;
}
h1 {
    color: #b67135;
    font-size: 70px;
    text-align: center;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
img {border-radius: 20%;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }